<!-- this template is for logging in for existing user-->


<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">enter email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">enter password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login for existing user</button>
</form>
<a href="/register">Register new user</a>