<!-- this page is for registering a new user service -->


<h1>register new user</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">enter name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">enter email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">enter password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Click to register</button>
</form>
<a href="/login">click to login</a>